.main {
  order: 1;
}

/* .aDj.ahe are the `position: fixed` are elements that contain ComposeView toolbars when the ComposeView body isn't focused.
 * This selector may have been the equivalent of `.aDj.aDi` before 2023-08-30.
 */
.inboxsdkMolesInUse :global(.aDj.ahe) {
  position: static !important;
}

.hideComposes
  :global(
    .dw
      .nH
      > .nH
      > .no
      > *:not([style*='order: 0;'], [style*='order: 2147483647;'], .aJl).nn.nH
  ) {
  display: none !important;
}
