/* suggestions */

.inboxsdk__suggestions_separator_before {
  padding-bottom: 2px !important;
}

.inboxsdk__suggestions_separator_after {
  border-top: 1px solid #e5e5e5;
  padding-top: 2px !important;
}

/* buttons */

div.T-I.inboxsdk__button {
  -webkit-user-select: none;
  min-width: 27px;
}

.inboxsdk__no_bg {
  background: none;
}

.inboxsdk__button.inboxsdk__button_disabled {
  opacity: 0.55;
}

  .inboxsdk__button_icon + .inboxsdk__button_text {
    margin-left: 5px;
  }

.inboxsdk__button_icon {
  display: inline-block;
}

.inboxsdk__button_iconImg {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-top: -2px;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.inboxsdk__button_green_inactive {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  background-color: #53a93f;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid transparent;
  color: #fff;
  text-shadow: none;
}

.inboxsdk__button_green_hover {
  -webkit-box-shadow: inset 0 -1px 0 #4c8534;
  box-shadow: inset 0 -1px 0 #4c8534;
  background-color: #65b045;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid transparent;
  border-bottom: 1px solid #4c8534;
  text-shadow: none;
}

.inboxsdk__button_green_active {
  -webkit-box-shadow: inset 0 1px 0 #2f6124;
  box-shadow: inset 0 1px 0 #2f6124;
  background: #3e802f;
  border: 1px solid transparent;
  border-top: 1px solid #2f6124;
  color: #fff;
  text-shadow: none;
}

.inboxsdk__menu {
  min-width: 1em;
  min-height: 1em;
  padding: 0px;
  overflow: visible;
  max-height: none;

  /* Copied from Gmail's .J-M class */
  z-index: 7;
  cursor: default;
  font-size: 13px;
  margin: 0;
  outline: none;
}

.inboxsdk__menu > .inboxsdk__menuContent {
  padding: 0;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  transition: opacity .218s;
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
}

body.inboxsdk__gmailv1css .inboxsdk__menu > .inboxsdk__menuContent {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.f4.J-N-JX.inboxsdk__message_more_icon {
  margin-top: -1px;
  width: 16px;
  height: 16px;
}

body.inboxsdk__gmailv1css .J-N .f4.J-N-JX.inboxsdk__message_more_icon {
  margin-left: 3px;
}

body.inboxsdk__gmailv1css .J-N:not(.J-N-JT) .f4.J-N-JX.inboxsdk__message_more_icon {
  margin-top: 0;
}

body:not(.inboxsdk__gmailv1css) .f4.J-N-JX.inboxsdk__message_more_icon {
  margin-top: 1px;
}

/* end */

/* compose buttons */

/* in material Gmail reduce padding between buttons  */
body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_narrow_buttons .gU:not(:first-child) {
  padding-left: 5px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_narrow_buttons .inboxsdk__compose_actionToolbar {
  padding-left: 10px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_narrow_buttons .wG:not(:first-child) {
  margin-left: 15px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_narrow_buttons .inboxsdk__compose_actionToolbar div.inboxsdk__composeButton:last-child {
  margin-right: 0px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_narrow_buttons .inboxsdk__compose_actionToolbar div.inboxsdk__composeButton + div.inboxsdk__composeButton {
  margin-left: 3px;
}

/* end narrow */

/* mimic button styling */
.inboxsdk__composeButton,
.inboxsdk__compose_sendButton {
  height: 20px;
  width: 20px;
  display: inline-flex;
  padding: 6px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  outline: none;
  position: relative;
}

  body.inboxsdk__gmailv1css .inboxsdk__composeButton {
    padding: 4px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(245, 245, 245);
    height: 19px;
  }

  body.inboxsdk__gmailv1css .inboxsdk__composeButton:hover {
    border-color: #dcdcdc;
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  }

.inboxsdk__composeButton + .inboxsdk__composeButton {
  margin-left: 8px;
}

body.inboxsdk__gmailv1css .inboxsdk__composeButton + .inboxsdk__composeButton {
  margin-left: 4px;
}

.inboxsdk__composeButton .inboxsdk__button_icon {
  opacity: 0.55;
}

.inboxsdk__composeButton:hover .inboxsdk__button_icon,
.inboxsdk__composeButton:focus .inboxsdk__button_icon,
.inboxsdk__composeButton.inboxsdk__composeButton_active .inboxsdk__button_icon {
  opacity: 0.9;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__composeButton::before {
  transition-property: background-size,opacity;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
  border-radius: 2px;
  opacity: 0.75;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__composeButton:focus::before,
body:not(.inboxsdk__gmailv1css) .inboxsdk__composeButton.inboxsdk__composeButton_active::before {
  background: transparent radial-gradient(ellipse closest-corner,rgba(0,0,0,0.161) 0%,transparent 100%) no-repeat center/100%;
  background-size: 200%;
}

.inboxsdk__compose_actionToolbar .inboxsdk__composeButton:last-child {
  margin-right: 6px;
}

body.inboxsdk__gmailv1css .inboxsdk__compose_actionToolbar .inboxsdk__composeButton:last-child {
  margin-right: 2px;
}

.inboxsdk__compose_actionToolbar .inboxsdk__compose_groupedActionToolbar div.inboxsdk__composeButton:last-child {
  margin-right: 0px;
}

  .inboxsdk__compose_sendButton {
    background-color: #1a73e8;
    color: white;
    height: 24px;
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
  }

  .inboxsdk__compose_inlineReply .inboxsdk__compose_sendButton {
    height: 20px;
  }

  .inboxsdk__compose_sendButton:focus,
  .inboxsdk__compose_sendButton.inboxsdk__composeButton_active {
    background-color: #5094ed;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.30), 0 1px 3px 1px rgba(66,133,244,0.15);
    border: none;
  }

  .T-I ~ .inboxsdk__compose_sendButton {
    margin-left: -6px;
  }

  body.inboxsdk__gmailv1css .T-I + .inboxsdk__compose_sendButton {
    margin-left: 0px;
    height: 15px;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    border-radius: 2px;
  }

  body.inboxsdk__gmailv1css .T-I + .inboxsdk__compose_sendButton:focus {
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    border: 1px solid #fff;
    border: rgba(0,0,0,0) solid 1px;
    outline: rgba(0,0,0,0) 0;
  }

.inboxsdk__compose_actionToolbar {
  white-space: nowrap;
}

body.inboxsdk__gmailv1css .inboxsdk__compose_actionToolbar {
  padding: 0px 0px 0px 5px;
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_icon {
  height: 17px;
  width: 17px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_iconImg {
  vertical-align: top;
  height: 17px;
  width: 17px;
  display: inline-block;
  margin-top: -1px;
}

body.inboxsdk__gmailv1css .inboxsdk__compose_actionToolbar .inboxsdk__composeButton:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

body.inboxsdk__gmailv1css .inboxsdk__compose_actionToolbar .inboxsdk__composeButton.inboxsdk__composeButton_active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background-color: #eee;
  background-image: linear-gradient(top,#eee,#e0e0e0);
}

.inboxsdk__compose_actionToolbar + .gU:not(.inboxsdk__compose_separator) {
  padding-left: 10px;
}

/* grouped action toolbar */
.inboxsdk__compose_groupedActionToolbar_visible .aDg .aDh {
  overflow-y: visible;
}

.inboxsdk__compose_groupedActionToolbar {
  position: absolute;
  bottom: 44px;
  margin: 3px;
  z-index: 10;
  left: 0px;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  padding: 5px 15px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_groupedActionToolbar {
  margin-bottom: 7px;
  padding: 4px 5px;
  background: white;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_groupedActionToolbar .inboxsdk__composeButton:first-child {
  margin-left: 0px;
  margin-right: 0px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_groupedActionButton {
  margin-right: 6px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_groupedActionToolbar .inboxsdk__composeButton {
  padding: 4px;
}

body.inboxsdk__gmailv1css .inboxsdk__compose_groupedActionToolbar .inboxsdk__composeButton {
  padding: 2px;
}

body.inboxsdk__gmailv1css .inboxsdk__compose_groupedActionToolbar {
  background: #f5f5f5;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
  border: 1px solid #cfcfcf;
  padding: 4px !important;
}

.inboxsdk__compose_groupedActionToolbar div.inboxsdk__button {
  z-index: 1;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_groupedActionToolbar div.inboxsdk__button {
  margin-right: 0px;
}

body.inboxsdk__gmailv1css .inboxsdk__compose_groupedActionToolbar_arrow {
  position: absolute;
  background: url('https://ssl.gstatic.com/ui/v1/icons/mail/down_pointer.png') no-repeat;
  width: 17px;
  height: 18px;
  bottom: -16px;
  margin-left: 4px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_groupedActionToolbar_arrow {
  display: none;
}

/* end grouped action toolbar */

.inboxsdk__compose_customSendContainer {
  display: inline-block;
  position: relative;
  outline: 0;
  height: 29px;
  margin: 6px 0;
  padding: 0;
  line-height: 29px;
  vertical-align: middle;
}

.inboxsdk__compose_customTitleBarColor > img.Hl,
.inboxsdk__compose_customTitleBarColor > img.Hq,
.inboxsdk__compose_customTitleBarColor > img.Ha {
  background-color: transparent !important;
}

.inboxsdk__compose_hasCustomTitleBarText,
.inboxsdk__compose_hasCustomTitleBarText > tbody > tr {
  display: -webkit-flex;
  display: flex;
}

.inboxsdk__compose_hasCustomTitleBarText > tbody > tr {
  align-items: center;
}

.inboxsdk__compose_hasCustomTitleBarText > tbody {
  width: 100%;
}

.inboxsdk__compose_nativeTitleBarText {
  display: none !important;
}

.inboxsdk__compose_customTitleBarText {
  width: calc(100% - 80px);
}

.inboxsdk__compose_hasCustomTitleBarText td.Hm {
  margin-right: 10px;
  margin-left: auto;
}

.inboxsdk__compose_statusBarPrependContainer {
  border-top: 1px solid #cfcfcf;
}

.inboxsdk__compose_statusBarPrependContainer + table td.gU {
  border-top: none;
}

/* end */

/* appid warning gmail specific parts */

input.inboxsdk__x_close_button {
  background-color: transparent;
  background-image: url(https://www.streak.com/build/images/circle_border_x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 20px;
  width: 20px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  float: right;
  margin: 5px;
}

/* thread rows */

.inboxsdk__gmail_label.inboxsdk__label_has_icon .au {
  display: inline-block;
  margin-left: 14px;
}

.inboxsdk__thread_row_label .inboxsdk__button_icon,
.inboxsdk__thread_row_label .inboxsdk__button_iconImg {
  height: 11px;
  width: 11px;
}

.inboxsdk__thread_row_label .inboxsdk__button_icon {
  display: inline-block;
  margin-top: 3px;
  margin-left: 4px;
  position: absolute;
}

body.inboxsdk__gmailv1css .inboxsdk__thread_row_label .inboxsdk__button_icon {
  margin-top: 2px;
}

.inboxsdk__thread_row_button {
  outline: 0;
  height: 20px;
  width: 20px;
  padding: 0px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__thread_row_custom_date_container {
  max-width: inherit;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__thread_row_button .inboxsdk__button_iconImg {
  height: 20px;
  width: 20px;
  margin-top: 0px;
}

body.inboxsdk__gmailv1css .inboxsdk__thread_row_button {
  position: relative;
  padding: 0 5px;
  top: -2px;
  height: 15px;
  width: 15px;
}

.inboxsdk__gmail_action {
  float: right;
  position: relative;
  background-color: grey;
  border: 1px solid black;
  margin-left: 1em;
  cursor: default;
  padding: 0 6px;
  background-image: -webkit-linear-gradient(top,#e9e9e9,#e6e6e6);
  background-image: linear-gradient(top,#e9e9e9,#e6e6e6);
  border: 1px solid rgba(0,0,0,0.1);
  border-color: #ccc;
  color: #444;
  height: 17px;
  line-height: 17px;
  min-width: 56px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  padding-right: 18px;
}

.inboxsdk__gmail_action:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

.inboxsdk__gmail_action:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.inboxsdk__gmail_action:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: #ededed;
  background-image: -webkit-linear-gradient(top,#ededed,#eaeaea);
  background-image: linear-gradient(top,#ededed,#eaeaea);
  border-color: #b8b8b8;
}

.inboxsdk__gmail_action::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  margin-left: 5px;
  background: no-repeat url(https://ssl.gstatic.com/mail/sprites/smartmail-561acb673be75c1d374881a95997fce4.png) -67px -100px;
  width: 7px;
  height: 7px;
  opacity: .55;
}

.inboxsdk__thread_row_custom_date {
  margin-left: 2px;
}

span.inboxsdk__thread_row_custom_date + span:not(.inboxsdk__thread_row_custom_date) {
  display: none;
}

span.inboxsdk__thread_row_custom_draft_label + div.yW {
  display: none;
}

.inboxsdk__thread_row_attachment_icon {
  margin-left: 3px;
  width: 16px;
  height: 16px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__thread_row_attachment_icon {
  vertical-align: middle;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__thread_row_attachment_icons_present {
  max-width: inherit;
}

/* narrow vertical preview pane */
body:not(.inboxsdk__gmailv1css) .Zs .inboxsdk__thread_row_attachment_icons_present {
  flex-grow: 0;
}

body:not(.inboxsdk__gmailv1css) .Zs .inboxsdk__thread_row_label {
  order: 1;
}

body:not(.inboxsdk__gmailv1css) .Zs .inboxsdk__thread_row_icon_wrapper {
  order: 1;
  margin-left: 3px;
  margin-right: 0px;
}
/* end narrow vertical preview pane */

body:not(.inboxsdk__gmailv1css) .inboxsdk__thread_row_icon_wrapper,
body:not(.inboxsdk__gmailv1css) .inboxsdk__thread_row_icon_wrapper .inboxsdk__button_icon,
body:not(.inboxsdk__gmailv1css) .inboxsdk__thread_row_icon_wrapper .inboxsdk__button_iconImg {
  height: 18px;
  width: 18px;
}

body:not(.inboxsdk__gmailv1css) .zA:hover .inboxsdk__thread_row_icon_wrapper {
  align-self: flex-start;
  margin-top: 1px;
}

.inboxsdk__thread_row_icon_wrapper {
  width: 25px;
  margin-right: 3px;
  align-self: center;
  height: 20px;
}

body.inboxsdk__gmailv1css .inboxsdk__thread_row_icon_wrapper .inboxsdk__button_icon,
body.inboxsdk__gmailv1css .inboxsdk__thread_row_icon_wrapper .inboxsdk__button_iconImg {
  height: 20px;
  width: 20px;
}

.inboxsdk__thread_row_icon_wrapper .inboxsdk__button_iconImg {
  vertical-align: top;
}

body.inboxsdk__gmailv1css .inboxsdk__thread_row_icon_wrapper {
  height: 0px;
}

body.inboxsdk__gmailv1css .inboxsdk__thread_row_icon_wrapper .inboxsdk__button_icon {
  height: 24px;
  width: 24px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  overflow: hidden;
}

body.inboxsdk__gmailv1css .inboxsdk__thread_row_icon_wrapper .inboxsdk__button_icon .zA.apw {
  margin-top: -15px;
}

body.inboxsdk__gmailv1css .inboxsdk__thread_row_icon_wrapper .inboxsdk__button_iconImg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.inboxsdk__thread_row_image_added .y6 .inboxsdk__thread_row_icon_wrapper ~ span[id] {
  margin-left: 3px;
}

.inboxsdk__thread_row_image_added .a4W, .inboxsdk__thread_row_image_added .apA, .inboxsdk__thread_row_image_added .apx {
  position: relative;
}

/* end thread rows */

td.gH div.gK span:first-child > img {
  margin-right: 3px;
}

td.gH div.gK span:first-child > img:last-child {
  margin-right: 6px;
}

.inboxsdk__message_attachment_icon {
  width: 21px;
  height: 21px;
  margin-top: -3px;
}

/* Work around issue where clicking "Remove formatting" in Compose causes this
 * element to become taller and shift the toolbar down. */
.gU .aWQ {
  max-height: 3px;
}

body:not(.inboxsdk__gmailv1css) .aQw .inboxsdk__button_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}

body:not(.inboxsdk__gmailv1css) .aQw .inboxsdk__button_iconImg {
  height: 18px;
  width: 18px;
}

.aQw .inboxsdk__button_iconImg {
  margin-top: 2px;
}

.aZi .asa .inboxsdk__button_iconImg {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}

/* Message view attachments toolbar */
.aZi .aZj .asa .inboxsdk__button_iconImg {
  margin: 0;
}

body .dw {
  /* Fixes issue where a tall compose window opened over a custom view could be
   * overlapped by Gmail's top bar. Also fixes issue where mole widgets are
   * only visible while a compose window is open.
   */
  z-index: 6 !important;
}

.inboxsdk__compose_outerSidebar_wrapper {
  position: absolute;
  left: -401px;
  top: 0px;
  background: white;
  width: 400px;
  bottom: 0px;
  border-left: 1px solid silver;
  box-shadow: -2px 0px 1px #E6E6E6;
  display: block;
}

.inboxsdk__outerSidebarActive .aSt .inboxsdk__compose_outerSidebar_wrapper {
  border-left: 0;
  box-shadow: none;
  left: -400px;
}

.inboxsdk__outerSidebarActive .aSs > div { width: 50% !important; margin-left: 30%; }

.inboxsdk__compose_outerSidebar_header {
  background: #404040;
  font-size: 80%;
  padding: 10px 10px 11px 10px;
  color: white;
  border-bottom: 1px solid #C4C4C4;
}

.inboxsdk__compose_outerSidebar_body {
  position: absolute;
  width: 100%;
  bottom: 43px;
  top: 36px;
  left: -1px;
  overflow: auto;
}

.inboxsdk__compose_outerSidebar_footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(206, 206, 206);
  display: block;
}

.inboxsdk__compose_innerSidebarActive form, .inboxsdk__compose_innerSidebarActive .GQ {
  padding-right: 200px;
}

div.inboxsdk__compose_statusbar {
  margin: 0;
  border: 0;
  height: 40px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__compose_statusbar {
  background: none;
}

body:not(.inboxsdk__gmailv1css) table + .inboxsdk__compose_statusbar {
  margin-top: -8px;
  padding-bottom: 16px;
}

.inboxsdk__compose_statusbarActive .aoI {
  height: auto !important;
}

.inboxsdk__compose_statusbarActive .aDl {
  z-index: unset;
}

/* compose size fixing */
.inboxsdk__compose .qz {
  max-height: inherit !important;
}

/* .dw means not fullscreen */
.dw .inboxsdk__compose_statusbarActive .aDj.aDi {
  position: static !important;
}

.inboxsdk__compose_statusbarActive .aDj > .aDh {
  height: auto;
}

.inboxsdk__recipient_row td.ok {
  height: 20px;
  padding: 0px;
}

.inboxsdk__recipient_row td.az3 {
  padding: 0px 3px 0px 3px;
}

body.inboxsdk__gmailv1css .inboxsdk__recipient_row td.ok {
  height: 23px;
}

body.inboxsdk__gmailv1css .inboxsdk__recipient_row td.az3 {
  padding: 0px 3px 3px 3px;
}

.inboxsdk__compose_forceRecipientsOpen .fX.aXjCH {
  display: block !important;
}

.inboxsdk__compose_hideRecipientArea .fX.aXjCH,
.inboxsdk__compose_hideRecipientArea .aoD.hl,
.inboxsdk__compose_forceRecipientsOpen .aoD.hl,
.inboxsdk__compose_forceRecipientRowHidden {
  display: none !important;
}

/* toolbar visibility */

[data-thread-toolbar=true] [data-rowlist-toolbar=true] {
  display: none !important;
}

[data-toolbar-expanded=true] [data-toolbar-expanded=false] {
  display: none !important;
}

[data-toolbar-expanded=false] [data-toolbar-expanded=true] {
  display: none !important;
}


[data-toolbar-icononly=true] .inboxsdk__button_text {
  display: none !important;
}

.inboxsdk__menuItem img, .inboxsdk__menuItem .inboxsdk__icon {
  height: 16px;
  width: 16px;
  margin-top: -1px;
}

body.inboxsdk__gmailv1css .inboxsdk__menuItem.J-N .J-N-JX {
  margin-left: 3px;
}

body.inboxsdk__gmailv1css .inboxsdk__menuItem.J-N:not(.J-N-JT) .J-N-JX {
  margin-top: 0;
}

/* end */

/* modal */

.inboxsdk__modal_overlay {
  right: 0px;
  bottom: 0px;
}

.inboxsdk__modal_fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 503;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  padding: 110px 50px 50px 50px;
}

.inboxsdk__modal_content {
    margin-top: 30px; margin-bottom: 30px;
}

.inboxsdk__modal_fullscreen.inboxsdk__modal_content_no_buttons .inboxsdk__modal_content {
  margin-bottom: 0px;
}

.inboxsdk__modal_close {
  outline: none;
  cursor: pointer;
}


.inboxsdk__modal_fullscreen .inboxsdk__modal_container {
  position: relative;
  margin-top: -60px;
  width: auto;
  overflow: hidden;
}

  .inboxsdk__modal_fullscreen.inboxsdk__modal_hideTop .inboxsdk__modal_close {
    display: none;
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_hideTop .inboxsdk__modal_container {
    padding-top: 0px;
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_hideTop .inboxsdk__modal_content {
    margin-top: 0px;
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_hideTop .Kj-JD-K7 {
    margin: 0px;
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_hideSides .inboxsdk__modal_container {
    padding-left: 0px;
    padding-right: 0px
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_hideBottom .inboxsdk__modal_content {
    margin-bottom: 0px;
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_hideBottom .inboxsdk__modal_container {
    padding-bottom: 0px;
  }

  .inboxsdk__modal_toprow.inboxsdk__modal_toprow--constrain-title-width {
    display: -webkit-flex;
    display: flex;
  }

  .inboxsdk__modal_toprow--constrain-title-width > span[role="heading"] {
    -webkit-flex: 1;
    flex: 1;
    width: 0;
  }

/* end modal */

/* mole */

/* Fix issue where Compose toolbar can become disconnected when moles or
 * drawers are in use */
.inboxsdk__drawers_in_use .aDi,
.inboxsdk__moles_in_use .aDi {
  left: auto !important;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__drawers_in_use .aDi,
body:not(.inboxsdk__gmailv1css) .inboxsdk__moles_in_use .aDi {
  position: static;
}

/* Make it so the compose/mole layer doesn't wrap, so we don't have to do a lot
 * of fancy logic to hide moles ourselves when things get too crowded. */
.inboxsdk__moles_in_use .nH > .nH > .no {
  white-space: nowrap;
}
.inboxsdk__moles_in_use .nH > .nH > .no > * {
  white-space: initial;
}
.inboxsdk__moles_in_use .nH > .nH > .no > .nn {
  display: inline-block;
  float: none;
}

.inboxsdk__mole_view {
  position: relative;
  max-width: 564px;
  height: 100vh;
  vertical-align: top;
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.inboxsdk__mole_view_inner {
  visibility: visible;
  box-sizing: border-box;
  margin-right: 5px;
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px;
  min-width: 260px;
  min-height: 36px;
}

.inboxsdk__mole_view_titlebar {
  position: absolute;
  left: 0;
  right: 5px;
  color: white;
  font-size: 12.8px;
  background: #404040;
  box-sizing: border-box;
  height: 36px;
  padding-top: 7px;
  padding-left: 11px;
  cursor: pointer;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__mole_view_titlebar {
  border-radius: 4px 4px 0 0;
}

.inboxsdk__mole_view_titlebar h2 {
  font-size: inherit;
  font-weight: inherit;
  margin: 4px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inboxsdk__mole_title_buttons {
  white-space: nowrap;
  float: right;
  padding-right: 5px;
  margin-top: -3px;
}

.inboxsdk__mole_title_buttons > img {
  height: 24px;
  width: 24px;
  position: relative;
  top: 2px;
  opacity: 0.6;
}

.inboxsdk__mole_title_buttons > img:hover {
  opacity: 1;
  background-color: #737373;
}

.inboxsdk__mole_view.inboxsdk__minimized .inboxsdk__mole_view_content,
.inboxsdk__mole_view.inboxsdk__minimized.inboxsdk__mole_use_minimize_title h2.inboxsdk__mole_default,
.inboxsdk__mole_view:not(.inboxsdk__minimized) h2.inboxsdk__mole_minimized,
.inboxsdk__mole_view:not(.inboxsdk__mole_use_minimize_title) h2.inboxsdk__mole_minimized,
.inboxsdk__mole_view.inboxsdk__minimized .Hl,
.inboxsdk__mole_view:not(.inboxsdk__minimized) .Hk {
  display: none;
}

.inboxsdk__mole_view_content {
  margin-top: 36px;
  border: 1px solid #cfcfcf;
  background: white;
  min-width: 260px;
  min-height: 20px;
  max-height: 80vh;
}

.inboxsdk__mole_view_chromeless .inboxsdk__mole_view_inner {
  min-width: 0px;
}

.inboxsdk__mole_view_chromeless .inboxsdk__mole_view_content {
  margin-top: 0px;
  min-width: 0px;
}

/* end mole */


/* tabs */

.inboxsdk__tab {
  width: 30px;
}

.inboxsdk__tab.IDMAP_hideTitleBar:first-child:last-child {
  display: none;
}

.inboxsdk__tab.inboxsdk__tab_selected {
  width: auto;
}

table.aKk .inboxsdk__contentTabContainer .inboxsdk__tab .aAy[role=tab] {
  height: 28px;
}

.inboxsdk__tab_icon {
  width: 30px;
  height: 25px;
  background-position-x: 5px;
  background-position-y: 3px;
  background-size: 16px;
  bacgkround-repeat: no-repeat;
}

.inboxsdk__tab_icon img {
  height: 16px;
  width: 16px;
  margin-left: 5px;
  margin-top: 3px;
}

.inboxsdk__tab .aKx {
  top: 4px;
}

.inboxsdk__sidebar div[role=complementary] {
  position: static !important;
}

/* Fix issue where sidebar causes threadview to be taller than it should */
.inboxsdk__sidebar > div.y4,
.IDMAP_app_sidebar_in_use > div.y4 {
  display: none;
}

table.aKk .inboxsdk__contentTabContainer .inboxsdk__tab:first-child .aAy[role=tab] {
  border-left-width: 1px;
}

/* end tabs */

/* old sidebar */

.inboxsdk__sidebar .inboxsdk__contentPanelContainer {
  font: 12px Arial, sans-serif;
  max-width: 220px;
}

.inboxsdk__contentPanelContainer_contentContainer {
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #D8D8D8;
}


/* end old sidebar */


/* sidebar */

.IDMAP_app_sidebar_in_use > div[role=complementary] {
  position: static !important;
  width: 216px !important;
}

.IDMAP_app_sidebar_in_use {
  /* Necessary to prevent z-indexes on sidebar items from causing them to show
  above stuff outside of the sidebar. */
  will-change: position;
}

.IDMAP_app_sidebar_content_panel {
  background: #ffffff;
}

.IDMAP_app_sidebar_content_area {
  padding: 4px 0 12px;
}

.IDMAP_app_sidebar.IDMAP_hideTitleBar .IDMAP_app_sidebar_content_area {
  padding-top: 0;
}

/* gmail addon support */

.container_app_sidebar_in_use.no,
.IDMAP_container_app_sidebar_no_icons.no {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  width: 100%;
}

body[dir=rtl] .container_app_sidebar_in_use.no[dir=ltr],
body[dir=rtl] .idm5_container_app_sidebar_no_icons.no[dir=ltr] {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

/* overwrite margin right of the gmail page next/back and settings icon buttons
   to line up properly */

/* when no siebar is visible */
.container_app_sidebar_in_use.no .G-atb.inboxsdk__thread_toolbar_parent[gh=tm] {
  margin-right: -57px !important;
}

/* when addon sidebar visible */
.container_addon_sidebar_visible.container_app_sidebar_in_use.no .G-atb.inboxsdk__thread_toolbar_parent[gh=tm] {
  margin-right: -321px !important;
}

/* when sdk sidebar visible */
.container_app_sidebar_visible.container_app_sidebar_in_use.no .G-atb.inboxsdk__thread_toolbar_parent[gh=tm] {
  margin-right: -321px !important;
}

/* no sdk icons and no native addons */
.IDMAP_container_app_sidebar_no_icons .G-atb.inboxsdk__thread_toolbar_parent[gh=tm] {
  margin-right: 0px !important;
}

.container_app_sidebar_in_use .bkK.nn,
.IDMAP_container_app_sidebar_no_icons .bkK.nn {
  width: auto !important;
  flex: 1;
  -webkit-flex: 1;
  min-width: 0px;
}

/* when removing addon icons */
.IDMAP_container_app_sidebar_no_icons .bnl.nn {
  z-index: -1;
  position: absolute;
}

.container_app_sidebar_in_use .IDMAP_app_sidebar_in_use {
  min-width: 57px !important;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.container_app_sidebar_in_use .IDMAP_app_sidebar_in_use.app_sidebar_visible {
  min-width: 321px !important;
}

.container_app_sidebar_in_use .IDMAP_app_sidebar_in_use > .J-KU-Jg {
  display: block !important;
}

.container_app_sidebar_in_use .IDMAP_app_sidebar_in_use .IDMAP_app_sidebar_container {
  display: none;
}

.container_app_sidebar_in_use .IDMAP_app_sidebar_in_use.app_sidebar_visible .IDMAP_app_sidebar_container {
  display: block;
  float: left;
  height: 100%;
  border-left: 1px solid #e0e0e0;
  padding-left: 16px;
  width: calc(100% - 74px);
  overflow: auto;
}


.container_app_sidebar_in_use .IDMAP_app_sidebar_container .IDMAP_app_sidebar_content_area {
  width: calc(100% - 16px);
  padding-right: 16px;
}

.container_app_sidebar_in_use .IDMAP_app_sidebar_in_use.app_sidebar_visible .J-KU-Jz {
  width: auto;
  padding-right: 50px;
}

/* make the native addon loading+icon container (div.bvq) always visible */
body.inboxsdk__gmailv1css .container_app_sidebar_in_use .IDMAP_app_sidebar_in_use > div:first-child {
  display: block !important;
}

/* hide the native addon loading div */
body.inboxsdk__gmailv1css .container_app_sidebar_in_use .IDMAP_app_sidebar_in_use > div:first-child > div:first-child {
  display: none !important;
}

/* remove extraneous left border from our clone of the addon loading div */
body.inboxsdk__gmailv1css .IDMAP_app_sidebar_in_use .inboxsdk__addon_icon_loading > div {
  border-left: none !important;
}

body.inboxsdk__gmailv1css .IDMAP_app_sidebar_in_use  .IDMAP_sidebar_iconArea .IDMAP_sidebar_button_container:not(.sidebar_button_container_active) {
  filter: grayscale(100%);
  opacity: 0.6;
}

body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_in_use  .IDMAP_sidebar_iconArea .IDMAP_sidebar_button_container.sidebar_button_container_active::before,
body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_in_use  .IDMAP_sidebar_iconArea .IDMAP_sidebar_button_container:hover::before {
  background-color: #e8eaed;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
}

.IDMAP_sidebar_iconArea .inboxsdk__button_icon {
  margin: 16px 16px 8px 16px;
  border: none;
  background: #fff;
  height: 24px;
  width: 24px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  position: relative;
}

body.inboxsdk__gmailv1css .IDMAP_sidebar_iconArea .inboxsdk__button_icon {
  margin-bottom: 0px;
}

.IDMAP_sidebar_iconArea .inboxsdk__button_iconImg {
  width: 24px;
  height: 24px;
  margin-top: 0px;
}

.IDMAP_sidebar_iconArea .sidebar_button_container_active .inboxsdk__button_selectedIndicator {
  height: 40px;
  width: 4px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: rgb(66, 133, 244);
  border-radius: 3px 0 0 3px
}

body.inboxsdk__gmailv1css .IDMAP_sidebar_iconArea .sidebar_button_container_active .inboxsdk__button_selectedIndicator {
  height: 24px;
  border-radius: 0px;
}

body.inboxsdk__gmailv1css .IDMAP_sidebar_iconArea + div:before {
  position: absolute;
  content: '';
  height: 1px;
  background: #ddd;
  width: 100%;
  top: -8px;
}

/* end sidebar */

/* material sidebar */
.brC-brG.companion_app_sidebar_visible {
  display: block !important;
}

.nH.companion_container_app_sidebar_visible {
  width: calc(100% - 300px) !important;
}

.companion_app_sidebar_visible .addon_sidebar ~ div {
  display: none !important;
}

body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_in_use .IDMAP_app_sidebar_container.addon_sidebar {
  height: 100%;
  overflow: auto;
}

body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_in_use .IDMAP_app_sidebar_container.addon_sidebar .IDMAP_app_sidebar_content_area {
  width: 100%;
}

body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_in_use:not(.companion_app_sidebar_visible) .addon_sidebar {
  display: none;
}

body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_content_panel_title_icon_container {
  margin-left: 0px;
}

body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_content_panel .IDMAP_app_sidebar_content_panel_top_line {
  padding: 0px 16px;
}

/* hide thread addon icons when in custom view */
body:not(.inboxsdk__gmailv1css).inboxsdk__custom_view_active .brC-aT5-aOt-ato-Kp-Jw [role=tablist] > div:not(:last-child) {
  display: none;
}

/* make the native addon icon container for thread add-ons (div.bvq) always visible */
body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_in_use .bvq,
body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_in_use .bvq > div:last-child {
  display: block !important;
}

/* hide the native addon loading div */
body:not(.inboxsdk__gmailv1css) .IDMAP_app_sidebar_in_use .bvq > div:first-child {
  display: none !important;
}

/* end material sidebar */

/* custom content */

.inboxsdk__custom_view_element {
  overflow: auto;
}

/* end custom content */


/* nav menu */


.inboxsdk__hide_native_marker .ain:not(.inboxsdk__navItem) {
  border-left-color: transparent;
}
.inboxsdk__hide_native_marker .ain:not(.inboxsdk__navItem) .nU:not(.n1) .n0 {
  font-weight: normal;
}

body.inboxsdk__gmailv1css .inboxsdk__hide_native_marker .ain:not(.inboxsdk__navItem) .nZ .aio * {
  color: inherit !important;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__hide_native_marker .ain:not(.inboxsdk__navItem) .bsU {
  font-weight: normal;
}
body:not(.inboxsdk__gmailv1css) .inboxsdk__hide_native_marker .ain:not(.inboxsdk__navItem) .TO {
  background: none;
}

.inboxsdk__hide_addon_container {
  display: flex !important;
  display: -webkit-flex !important;
  flex-direction: row;
  -webkit-flex-direction: row;
  width: 100% !important;
}

body[dir=rtl] .inboxsdk__hide_addon_container[dir=ltr] {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

.inboxsdk__hide_addon_container > .bkK.nn {
  width: auto !important;
  flex: 1;
  -webkit-flex: 1;
  min-width: 0;
}

.inboxsdk__hide_addon_container > .bnl.nn {
  display: none;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem {
  font-size: 14px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO.n4 {
  display: block;
  padding-left: 0;
}

/* The qj class has "margin-right: 24px" by default, but we tweak that here so icons
 properly align with the Gmail label icons, which have 3px of of margin-left in the
 element inside their qj container. The one exception to this is for GROUPER type
 nav-items (which have the "n4" class) where we use Gmail css for the icon.
 */
body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO:not(.n4) .qj {
  margin-left: 3px;
  margin-right: 21px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO.n4 .qj > .G-asx {
  margin-right: 0;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO .bsU:empty {
  display: none;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO .qj:empty::after {
  content: '';
  border: 8px solid;
  border-radius: 50%;
  border-color: rgb(118, 118, 118)
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO .qj[style*="border-color"]:empty::after {
  border-color: inherit;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO:hover .pM {
  display: flex;
  display: -webkit-flex;
  visibility: visible;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO .afM {
  cursor: pointer;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO:hover .afM {
  display: block;
  visibility: visible;
}

/* This does slightly break from the native Gmail behavior, but we keep the dropdown button
  visible while it has an active dropdown */
body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO img.afM.afO {
  display: block;
  visibility: visible;
}

/* Keep the subtitle hidden while the dropdown is active */
body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO img.afM.afO ~ .aio > .bsU {
  display: none;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO:hover .bsU {
  display: none;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem.inboxsdk__navItem_nonClickable > .TO:active {
  background-color: initial;
}

.inboxsdk__navItem_hover .aj0, .inboxsdk__navItem_hover .p8 {
  visibility: visible;
}

.inboxsdk__gmailv1css .inboxsdk__navItem_link {
  position: absolute;
  top: 1px;
  right: -4px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem_link {
  cursor: pointer;
  margin-left: auto;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem_link > a {
  margin-left: 16px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem > .TO .inboxsdk__button {
  margin-right: 0;
}

[dir=rtl] .inboxsdk__navItem_link {
  left: -4px;
  right: initial;
}

.inboxsdk__navItem_container .aio .inboxsdk__button {
  position: absolute;
  top: 0px;
  right: -30px;
}

.inboxsdk__navItem_marker {
  position: absolute;
  left: 0px;
  padding-bottom: 2px;
}

body.inboxsdk__gmailv1css .ain .inboxsdk__navItem_container {
  margin-left: -18px;
}

body.inboxsdk__gmailv1css .inboxsdk__navItem_container {
  margin-left: -14px;
}

.inboxsdk__expando {
  z-index: 1;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem_link > a,
.aip .CK {
  color: #15c;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__navItem_link > a:hover,
.aip .CK:hover {
  text-decoration: underline;
}

.inboxsdk__navItem_container .aio.aip {
  white-space: nowrap;
}

/* end nav menu */



/* search results section */

.inboxsdk__custom_sections {
  margin-bottom: 15px;
}

.inboxsdk__custom_sections.Wc {
  padding: 0px;
  margin-bottom: 0px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__custom_sections {
  margin-bottom: 8px;
}

.inboxsdk__gmailv1css .inboxsdk__resultsSection {
  padding-top: 20px;
}

.inboxsdk__resultsSection.inboxsdk__resultsSection_nonCollapsible .inboxsdk__resultsSection_title .Wp {
  visibility: hidden;
}

  .inboxsdk__custom_sections.Wc .inboxsdk__resultsSection {
    padding-top: 0px;
  }

.inboxsdk__custom_sections .Wg {
  padding-top: 0px;
}

  .inboxsdk__custom_sections.Wc .Wg {
    border-bottom: 0;
    padding: 0px;
  }

body.inboxsdk__gmailv1css .inboxsdk__results_collapsedContainer > div {
  display: inline;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__results_collapsedContainer.Wg {
  height: auto;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__results_collapsedContainer > div {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
}

/* lone collapsed SectionView in Gmailv2 */
/* If only a single SectionView is collapsed then its dropdown button and titleTextLink are still shown */
body:not(.inboxsdk__gmailv1css) .inboxsdk__results_collapsedContainer > div > .inboxsdk__resultsSection_collapsed:first-child:last-child {
  flex: 1;
  margin-right: 0;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__results_collapsedContainer > div > .inboxsdk__resultsSection_collapsed:first-child:last-child > .inboxsdk__resultsSection_header {
  display: flex;
  align-items: center;
  flex: 1;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__results_collapsedContainer > div > .inboxsdk__resultsSection_collapsed:first-child:last-child > .inboxsdk__resultsSection_header > .Cr {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* end lone collapsed SectionView in Gmailv2 */

.inboxsdk__resultsSection.inboxsdk__resultsSection_collapsed {
  display: inline-block;
  margin-right: 20px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__resultsSection.inboxsdk__resultsSection_collapsed {
  display: inline-flex;
}

  .Wc .inboxsdk__resultsSection.inboxsdk__resultsSection_collapsed {
    margin-right: 0px;
  }

.inboxsdk__resultsSection_collapsed .Cr {
  display: none;
}

.inboxsdk__resultsSection_title {
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
}
body:not(.inboxsdk__gmailv1css) .inboxsdk__resultsSection_title {
  display: flex;
}

  .Wc .inboxsdk__resultsSection_title {
    padding: 3px 0 3px 8px;
  }

.inboxsdk__resultsSection_title_subtitle {
  opacity: 0.5;
  margin-left: 5px;
}

  .Wc .inboxsdk__resultsSection_title_subtitle {
    font-size: 80%;
  }

body:not(.inboxsdk__gmailv1css) .inboxsdk__resultsSection_header {
  min-height: 40px;
  line-height: 40px;
}

body.inboxsdk__gmailv1css .inboxsdk__resultsSection_header > .Cr > .J-J5-Ji {
  padding-top: 3px;
}

body.inboxsdk__gmailv1css .inboxsdk__resultsSection_title .Wp {
  float: left;
  height: 10px;
  width: 20px;
  margin-top: 3px;
}

body.inboxsdk__gmailv1css .inboxsdk__resultsSection_title h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  display: inline;
  float: none;
}

.inboxsdk__resultsSection_header_summaryText.Wm:last-child .amH {
  padding-right: 0px;
  margin-right: 0px;
}

  .inboxsdk__custom_sections.Wc .inboxsdk__resultsSection_header_summaryText:last-child {
    margin-right: 11px;
  }

.inboxsdk__custom_sections.Wc .J-JN-M-I {
  margin-right: 13px;
}

.inboxsdk__resultsSection .TB.TC {
  text-align: center;
}

.inboxsdk__resultsSection .inboxsdk__resultsSection_loading {
  font-style: italic;
}

.inboxsdk__resultsSection .inboxsdk__resultsSection_result_icon {
  height: 15px;
  width: 15px;
}

.inboxsdk__resultsSection .inboxsdk__resultsSection_tableRow.zA  {
  /* For reasons not entirely clear to me, the position of this element can't be "relative" (which
  the zA class sets it to) or "border-radius" does not work on any of the children */
  position: initial;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__resultsSection .inboxsdk__resultsSection_tableRow.zA:hover > .xW {
  /* Gmailv2 tries to hide the "xW" element when a "zA" element is hovered. This prevent that. */
  display: flex;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__resultsSection .inboxsdk__resultsSection_tableRow.zA > .xW {
  max-width: none;
  flex-basis: auto;
}

.inboxsdk__resultsSection .inboxsdk__resultsSection_tableRow .xT {
  align-items: center;
  -webkit-align-items:  center;
}

.inboxsdk__resultsSection .inboxsdk__resultsSection_tableRow .WA > div {
  width: 100%;
}

.inboxsdk__resultsSection .xX {
  width: 20ex;
}

.inboxsdk__resultsSection_result_title span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.inboxsdk__resultsSection tr .xW > span {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.inboxsdk__resultsSection .V3 {
  overflow: hidden;
  white-space: nowrap;
}

.inboxsdk__resultsSection .at {
  position: relative;
}

.inboxsdk__thread_row_label {
  flex-shrink: 0;
  align-self: center;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__thread_row_label {
  align-self: flex-end;
}

/* label in vertical preview pane */
body:not(.inboxsdk__gmailv1css) .apv .inboxsdk__thread_row_label {
  align-self: flex-start;
}

.inboxsdk__resultsSection_label_icon {
  height: 11px;
  width: 11px;
  position: absolute;
  top: 2px;
  margin-left: 4px;
}

body:not(.inboxsdk__gmailv1css) .inboxsdk__resultsSection_label_icon {
  margin-top: 1px;
}

.inboxsdk__resultsSection .av, .inboxsdk__thread_row_label .av {
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inboxsdk__resultsSection_label_icon + .av, .inboxsdk__thread_row_label .inboxsdk__button_icon + .av {
  margin-left: 16px;
}

.Wc .inboxsdk__resultsSection_footer {
  padding: 3px 3px 3px 8px;
}

/* end search results section */


/* tooltip */

/* gmail styles */

.inboxsdk__tooltip .T-P {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  background-color: #fff;
  border: 1px solid;
  border-color: #bbb #bbb #a8a8a8;
  padding: 16px;
  position: absolute;
  z-index: 1201!important;
}

  .inboxsdk__tooltip.inboxdk__tooltip_content .T-P {
    padding: 0px;
  }

.inboxsdk__tooltip .aRM {
  outline: none;
  padding: 13px 10px 16px;
  text-align: center;
  font: normal normal normal normal 16px / normal arial, sans-serif;
}

  .inboxdk__tooltip_content.inboxsdk__tooltip .aRM {
    padding: 0px;
  }

.inboxsdk__tooltip .aRR {
  color: #333;
  font-size: 18px;
  margin-top: 13px;
}

.inboxsdk__tooltip .aRQ {
  color: #777;
  font-size: 13px;
  margin: 3px 0 14px 0;
}




/* end gmail styles */

.inboxsdk__tooltip {
  position: fixed;
  z-index: 1300;
  transition: left 200ms ease, top 200ms ease;
}

.inboxsdk__tooltip .T-P {
  position: relative;
  width: auto;
  max-width: 500px;
}

.inboxsdk__tooltip .inboxsdk__tooltip_arrow {
  position: fixed;
  z-index: 1400;
  margin-top: -1px;
  transition: left 200ms ease, top 200ms ease;
}

.inboxsdk__tooltip .inboxsdk__tooltip_close {
  -webkit-user-select: none;
}

.inboxsdk__tooltip .inboxsdk__button {
  margin-right: 0px;
}

.inboxsdk__tooltip .inboxsdk__tooltip_image {
  max-height: 300px;
  max-width: 500px;
  overflow: hidden;
  height: auto;
}

.inboxsdk__tooltip .inboxsdk__tooltip_image > img {
  max-height: 300px;
  max-width: 500px;
}

/* end tooltip */


/* attachment card */

.inboxsdk__attachmentCard img.aQG.aYB {
  max-width: 178px;
  min-width: 178px;
  min-height: 118px;
}

.inboxsdk__attachmentCard img.aZG.aYw {
  background: none;
}

/* add some margins between cards so 4+ cards don't hit each other */

.aQw > .T-I.J-J5-Ji.L3 {
  margin-top: 5px;
}

/* end attachment card */


/* keyboard shortcut help */

table.cf.wd.inboxsdk__shortcutHelp_table {
  margin-bottom: 15px;
}

.inboxsdk__shortcutHelp_table td.Dn {
  display: inline-block;
  width: 50%;
}

.inboxsdk__shortcutHelp_table table.cf {
  display: block;
}

.inboxsdk__shortcutHelp_table tbody tbody {
  display: block;
}

.inboxsdk__shortcutHelp_table tbody tbody tr {
  display: block;
  white-space: nowrap;
}

.inboxsdk__shortcutHelp_table td.wg.Dn {
  display: inline-block;
  width: 45%;
}

.inboxsdk__shortcutHelp_table span.wb {
  margin-left: 3px;
}

.inboxsdk__shortcutHelp_table td.we.Dn {
  width: 60%;
  white-space: normal;
}

.inboxsdk__shortcutHelp_title img.inboxsdk__icon {
  height: 21px;
  width: 21px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 4px;
}

/* end keyboard shortcut help */


/* search suggestions */

.asor.inboxsdk__custom_suggestion {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.inboxsdk__custom_suggestion img {
  max-width: 32px;
  max-height: 32px;
  margin-left: -11px;
}

/* end send suggestions */


/* app toolbar */

.inboxsdk__gmailv1css .inboxsdk__appButton {
  margin-right: -15px;
}

  .inboxsdk__gmailv1css .inboxsdk__appButton:first-child {
    margin-left: -45px;
  }

  body:not(.inboxsdk__gmailv1css) .inboxsdk__appButton:first-child {
    margin-left: -15px;
  }

  .inboxsdk__gmailv1css .inboxsdk__appButton + .inboxsdk__appButton {
    margin-left: 35px;
  }

  body:not(.inboxsdk__gmailv1css) .inboxsdk__appButton + .inboxsdk__appButton {
    margin-left: 20px;
  }

  .inboxsdk__appButton.inboxsdk__appButton_noGPlus {
    margin-right: 0px;
  }

.inboxsdk__appButton .inboxsdk__button_icon {
  margin-right: 5px;
  position: relative;
}

.inboxsdk__appButton a {
  color: #404040;
  text-decoration: none;
  line-height: 24px;
}

.inboxsdk__appButton.inboxsdk__appButton_noGPlus a {
  line-height: 30px;
}

.inboxsdk__appButton a:hover {
  text-decoration: underline;
  color: #000;
}

.inboxsdk__gmail_dark_theme .inboxsdk__appButton a {
  color: #eee;
}
.inboxsdk__gmail_dark_theme .inboxsdk__appButton a:hover {
  color: #fff;
}

.inboxsdk__appButton_tooltip {
  outline: none;
  transition: none;
  -webkit-animation: gb__a .2s;
}

.inboxsdk__appButton_tooltip .inboxsdk__tooltip_close {
  display: none;
}

.inboxsdk__tooltip.inboxsdk__appButton_tooltip .T-P {
  padding: 0px;
}

.inboxsdk__tooltip.inboxsdk__appButton_tooltip .aRM {
  padding: 0px;
  white-space: initial;
  text-align: center;
  font: normal normal normal normal 16px / normal arial, sans-serif;
}

.inboxsdk__tooltip.inboxsdk__appButton_tooltip .inboxsdk__tooltip_arrow {
  transform-origin: top;
  transform: rotateZ(180deg);
  margin-top: 9px;
}

/* end app toolbar */


/* custom message views */

.inboxsdk__custom_message_view {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #efefef;
  border-collapse: collapse;
}

.inboxsdk__custom_message_view_hidden {
  display: none;
}

/* when cusotm message is right after the last message with its reply */
.h7.ie + .inboxsdk__custom_message_view {
  margin-top: 5px;
}

/* when custom message is after the super collapsed message elements */
.kQ + .inboxsdk__custom_message_view,
.kx + .inboxsdk__custom_message_view {
  margin-top: 1px;
}

.inboxsdk__custom_message_view.inboxsdk__custom_message_view_collapsed {
  cursor: pointer;
}

.inboxsdk__custom_message_view .inboxsdk__custom_message_view_icon {
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}

.inboxsdk__custom_message_view .inboxsdk__custom_message_view_icon img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.inboxsdk__custom_message_view .inboxsdk__custom_message_view_content {
  width: 100%;
  min-width: 0px;
}

.inboxsdk__custom_message_view .inboxsdk__custom_message_view_header {
  cursor: pointer;
}

.inboxsdk__custom_message_view_app_notice {
  position: relative;
  top: -8px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.inboxsdk__custom_message_view_app_notice > * {
  background-color: white;
  padding: 0px 8px;
  font-size: 80%;
  color: #555;
}

table[role=presentation].inboxsdk__thread_view_with_custom_view {
  table-layout: fixed;
}

/* hidden message notice beside native notice */
.adv .inboxsdk__custom_message_view_app_notice {
  display: inline-flex;
  margin-left: 10px;
  top: -7px;
}

/* compact density setting */

body.inboxsdk__gmailv1css.inboxsdk__gmail_density_compact .inboxsdk__custom_message_view .inboxsdk__custom_message_view_icon img {
  height: 24px;
  width: 24px;
}

body.inboxsdk__gmailv1css.inboxsdk__gmail_density_compact .inboxsdk__custom_message_view  {
  padding-top: 6px;
}

body.inboxsdk__gmailv1css.inboxsdk__gmail_density_compact .inboxsdk__custom_message_view .inboxsdk__custom_message_view_icon {
  padding-left: 5px;
  padding-right: 7px;
}

body.inboxsdk__gmailv1css.inboxsdk__gmail_density_compact .inboxsdk__custom_message_view.inboxsdk__custom_message_view_collapsed {
  padding-bottom: 2px;
}

body.inboxsdk__gmailv1css.inboxsdk__gmail_density_compact .inboxsdk__custom_message_view .inboxsdk__custom_message_view_content {
  padding-top: 4px;
}

body.inboxsdk__gmailv1css .inboxsdk__custom_message_view {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top-color: rgb(216, 216, 216);
}

/* end compact density setting */

/* gmail v1 specific ui */

body.inboxsdk__gmailv1css .inboxsdk__custom_message_view_app_notice > *,
body.inboxsdk__gmailv1css .inboxsdk__custom_message_view.inboxsdk__custom_message_view_collapsed {
  background-color: rgb(245, 245, 245);
}

body.inboxsdk__gmailv1css .inboxsdk__custom_message_view .inboxsdk__custom_message_view_icon {
  padding-left: 8px;
  padding-right: 12px;
}

body.inboxsdk__gmailv1css .inboxsdk__custom_message_view .inboxsdk__custom_message_view_icon img {
  border-radius: 0%;
}

/* end v1 specific ui */

/* end custom message views */
