.inboxsdk__appButton_container {
  position: absolute;
  right: 192px;
  top: 16px;
  white-space: nowrap;
}

.inboxsdk__appButton {
  position: relative;
  line-height: 0;
  margin-right: 16px;
  display: inline-block;
}

.inboxsdk__appButton .inboxsdk__button_iconImg {
  width: 24px;
  height: 24px;
}

.inboxsdk__appButton.inboxsdk__button_icon.inboxsdk__active,
.inboxsdk__appButton.inboxsdk__button_icon:focus {
  outline: none;
}
.inboxsdk__appButton.inboxsdk__button_icon::before {
  content: ' ';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  margin: auto;
  padding: 4px;
  border-radius: 50%;
}
.inboxsdk__appButton.inboxsdk__button_icon.inboxsdk__active::before,
.inboxsdk__appButton.inboxsdk__button_icon:focus::before {
  background-color: rgba(0,0,0,0.1);
}

.inboxsdk__appButton_tooltip_container {
  outline: none;
  right: 30px;
  position: fixed;
  z-index: 25;
  text-align: center;
}

.inboxsdk__appButton_tooltip {
  display: inline-block;
  max-width: 500px;
  white-space: initial;
  text-align: center;
  font: normal normal normal normal 16px / normal arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  background: white;
}

.IDMAP_app_sidebar {
  background: #f2f2f2;
  position: fixed;
  top: 56px;
  bottom: 0;
  right: 0;
  width: 232px;
  z-index: 5;
}

.IDMAP_app_sidebar_waiting_platform {
  display: none;
}

.IDMAP_app_sidebar_container[data-open="false"] {
  display: none;
}

.IDMAP_app_sidebar_main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.IDMAP_app_sidebar > .inboxsdk__close_button {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.inboxsdk__compose_actionToolbar {
  display: inline-block;
}

.IDMAP_app_sidebar_content_area {
  padding: 16px 8px 0;
}

.IDMAP_app_sidebar_content_panel {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  font: 12px Arial, sans-serif;
  max-height: 100%;
  background: #f2f2f2;
}

.IDMAP_app_sidebar_content_panel_title_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
  padding-left: 5px;
  box-sizing: border-box;
  cursor: move;
}

.IDMAP_app_sidebar_content_panel_title_icon > img {
  width: 16px;
  height: 16px;
}

.IDMAP_app_sidebar_content_panel_title_text {
  cursor: pointer;
}

.IDMAP_app_sidebar_content_panel_title {
  font: 13px / 15px arial, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.IDMAP_sidebar_iconArea {
  position: absolute;
  right: -16px;
  z-index: 100;

  /* needed to prevent rendering bug in chrome where the element is
  visibly duplicated when the parent becomes position:fixed. */
  will-change: top;
}

.IDMAP_sidebar_iconArea .IDMAP_sidebar_button_container {
  position: relative;
}

.IDMAP_sidebar_iconArea .IDMAP_sidebar_button_container[data-count]::after {
  position: absolute;
  display: block;
  bottom: 0;
  right: -4px;
  width: 13px;
  height: 13px;
  text-align: center;
  font: 9pt sans-serif;
  border-radius: 50%;
  color: #fff;
  background: #adadad;
  content: attr(data-count);
}

.IDMAP_sidebar_iconArea .inboxsdk__button_icon {
  margin-top: 10px;
  transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
  transition-delay: 0.01s;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  border: none;
  border-radius: 50%;
  background: #fff;
  height: 26px;
  width: 26px;
  overflow: hidden;
  padding: 0;
}

.IDMAP_sidebar_iconArea .inboxsdk__button_icon:focus,
.IDMAP_sidebar_iconArea .inboxsdk__button_icon:hover {
  outline: none;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}

.IDMAP_sidebar_iconArea .inboxsdk__button_iconImg {
  width: 26px;
  height: 26px;
}

.inboxsdk__button_icon {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.inboxsdk__button_iconImg {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  margin: 8px 12px 4px 2px;
  vertical-align: middle;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon.inboxsdk__active,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:hover,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:focus {
  opacity: 1;
  outline: none;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon::before {
  content: ' ';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  margin: auto;
  padding: 4px;
  border-radius: 50%;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon.inboxsdk__active::before,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:focus::before {
  background-color: rgba(0,0,0,0.1);
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_iconImg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.inboxsdk__dropdown {
  padding-bottom: 5px;
  overflow: visible;
  z-index: 100;
  outline: none;
}
.inboxsdk__dropdown_content {
  background: white;
  min-width: 1em;
  min-height: 1em;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}

.inboxsdk__tooltip {
  z-index: 1300;
  position: fixed;
  /*transition: left 200ms ease, top 200ms ease;*/
  background: white;
  min-width: 1em;
  min-height: 1em;
  padding: 29px 36px 32px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}

.inboxsdk__tooltip > .inboxsdk__close_button {
  position: absolute;
  top: 4px;
  right: 4px;
}

.inboxsdk__tooltip h1 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  margin: 13px 0 0;
}

.inboxsdk__tooltip .inboxsdk__subtitle {
  color: #777;
  font-size: 13px;
  margin: 3px 0 14px 0;
}

.inboxsdk__tooltip_arrow {
  z-index: 1301;
  position: fixed;
  width: 0;
  height: 0;
  border: none;
  border-color: white; /* You can override this to change the tooltip's color! */
}
.inboxsdk__tooltip_arrow::before {
  content: ' ';
  position: absolute;
  border: 8px solid;
}
.inboxsdk__tooltip_arrow::after {
  content: ' ';
  position: absolute;
  border: 7px solid;
  border-color: transparent;
}
.inboxsdk__tooltip_arrow.inboxsdk__top::before {
  border-bottom-width: 0;
  border-color: rgba(0,0,0,0.2) transparent;
  left: -9px;
}
.inboxsdk__tooltip_arrow.inboxsdk__top::after {
  border-bottom-width: 0;
  border-top-color: inherit;
  border-bottom-color: inherit;
  left: -8px;
}
.inboxsdk__tooltip_arrow.inboxsdk__bottom::before {
  border-top-width: 0;
  border-color: rgba(0,0,0,0.2) transparent;
  top: -8px;
  left: -9px;
}
.inboxsdk__tooltip_arrow.inboxsdk__bottom::after {
  border-top-width: 0;
  border-top-color: inherit;
  border-bottom-color: inherit;
  top: -7px;
  left: -8px;
}
.inboxsdk__tooltip_arrow.inboxsdk__left {
}
.inboxsdk__tooltip_arrow.inboxsdk__left::before {
  border-right-width: 0;
  border-color: transparent rgba(0,0,0,0.2);
  top: -8px;
}
.inboxsdk__tooltip_arrow.inboxsdk__left::after {
  border-right-width: 0;
  border-left-color: inherit;
  border-right-color: inherit;
  top: -7px;
}
.inboxsdk__tooltip_arrow.inboxsdk__right {
}
.inboxsdk__tooltip_arrow.inboxsdk__right::before {
  border-left-width: 0;
  border-color: transparent rgba(0,0,0,0.2);
  top: -8px;
  left: -8px;
}
.inboxsdk__tooltip_arrow.inboxsdk__right::after {
  border-left-width: 0;
  border-left-color: inherit;
  border-right-color: inherit;
  top: -7px;
  left: -7px;
}

.inboxsdk__tooltip_img {
  max-width: 500px;
  max-height: 300px;
}

/* modal */
.inboxsdk__modal_fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 501;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 110px 50px 50px 50px;
  pointer-events: none;
}
.inboxsdk__modal_container {
  position: relative;
  background: #fff;
  color: #000;
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  padding: 30px 42px;
  pointer-events: auto;
}
.inboxsdk__modal_toprow [role=heading] {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px;
  font: bold 1em arial,sans-serif;
  padding-right: 20px;
}
.inboxsdk__modal_content {
  margin: 30px 0;
  line-height: 1.4em;
  word-wrap: break-word;
  font: normal 0.8em arial,sans-serif;
}
.inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_container {
  padding: 0px;
}
.inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_close {
  display: none;
}
.inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_content {
  margin: 0px;
}
.inboxsdk__modal_buttons input {
  margin-right: 5px;
}
.inboxsdk__modal_buttons input.inboxsdk__primary {
  margin-right: 7px;
}
.inboxsdk__modal_toprow .inboxsdk__close_button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 17px;
}

.inboxsdk__attachment_card {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  margin-right: 12px;
  margin-bottom: 12px;

  box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 2px rgba(0,0,0,.22);
  box-sizing: border-box;
  overflow: hidden;
  height: 88px;
  width: 132px;
  z-index: 0;
  justify-content: center;
  background: rgba(0,0,0,.03);
  border-radius: 2px;
  transition: background-color .15s cubic-bezier(.4,0,.2,1), box-shadow .15s cubic-bezier(.4,0,.2,1), outline-color .15s cubic-bezier(.4,0,.2,1);
  border: 1px solid transparent;
  outline: 1px solid transparent;
}
.inboxsdk__attachment_card:hover {
  box-shadow: 0 0 3px rgba(0,0,0,.13), 0 3px 6px rgba(0,0,0,.26);
}
.inboxsdk__attachment_card:active,
.inboxsdk__attachment_card:focus {
  box-shadow: 0 0 5px rgba(0,0,0,.15), 0 5px 10px rgba(0,0,0,.3);
  border-color: #f2f2f2;
  outline-color: #4285f4;
}
.inboxsdk__attachment_card_nohover,
.inboxsdk__attachment_card_hover_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
}
.inboxsdk__attachment_card .inboxsdk__attachment_card_hover_overlay {
  background: rgba(255,255,255,.7);
}
.inboxsdk__attachment_card .inboxsdk__attachment_card_hover_overlay,
.inboxsdk__attachment_card:hover .inboxsdk__attachment_card_nohover {
  display: none;
}
.inboxsdk__attachment_card:hover .inboxsdk__attachment_card_hover_overlay {
  display: block;
}
.inboxsdk__attachment_card_buttons {
  line-height: normal;
  position: absolute;
  bottom: 6px;
  left: 12px;
  right: 6px;
}
.inboxsdk__attachment_card_button {
  cursor: pointer;
  background: rgba(0,0,0,0.6);
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  margin-right: 3px;
  box-sizing: content-box;
  width: 30px;
  height: 24px;
  padding: 0;
  color: #333;
  vertical-align: top;
  text-align: center;
}
.inboxsdk__attachment_card_button:hover {
  background: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.8);
}
.inboxsdk__attachment_card_button > div {
  height: 21px;
  width: 21px;
  display: inline-block;
  vertical-align: middle;
}
.inboxsdk__attachment_card_button > img {
  max-height: 16px;
  max-width: 16px;
}
.inboxsdk__attachment_card_title {
  margin-top: 2px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #212121;
}
.inboxsdk__attachment_card_description {
  color: #757575;
  line-height: 16px;
  margin-top: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inboxsdk__attachment_card_description > img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  height: 16px;
  width: 16px;
}
.inboxsdk__attachment_card_description > span {
  vertical-align: middle;
}

.inboxsdk__attachment_overlay_button {
  border: none;
  cursor: pointer;
  margin-left: 8px;
  background-color: rgba(255,255,255,0);
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
  min-width: 40px;
  padding: 8px 0;
  color: #333;
  vertical-align: middle;
  text-align: center;
  opacity: 0.87;
  transition: background-color 0.1s, opacity 0.1s;
}
.inboxsdk__attachment_overlay_button:hover,
.inboxsdk__attachment_overlay_button:focus {
  outline: none;
  opacity: 1;
  color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,0.25);
}
.inboxsdk__attachment_overlay_button > img {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}
