.inboxsdk__notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.inboxsdk__close_button {
  height: 24px;
  width: 24px;
  opacity: .7;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  box-sizing: content-box;
  outline: none;
  cursor: pointer;
}
.inboxsdk__close_button:focus, .inboxsdk__close_button:hover {
  opacity: 1;
}
.inboxsdk__close_button:focus::before {
  background-color: rgba(0,0,0,.12);
}
.inboxsdk__close_button::before {
  border-radius: 50%;
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  padding: 4px;
  content: ' ';
}
.inboxsdk__close_button::after {
  content: ' ';
  background: url(https://www.gstatic.com/images/icons/material/system/1x/close_black_24dp.png);
  position: absolute;
  height: 24px;
  width: 24px;
  top: 0;
  left: 0;
}

.IDMAP_app_sidebar_waiting_platform {
  display: none;
}

/* drawer */

.inboxsdk__drawer_view_container {
  visibility: visible;
  direction: initial;
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 51;
  pointer-events: none;
}
.inboxsdk__drawer_view {
  position: absolute;
  pointer-events: auto;
  top: 0;
  bottom: 0;
  right: 0;
  width: 452px;
  font: normal normal normal normal 13px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  outline: none;
  box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 150ms cubic-bezier(.4,0,.2,1);
}

.inboxsdk__drawer_view.inboxsdk__active {
  -webkit-transform: none;
  transform: none;
}
.inboxsdk__drawer_title_bar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  padding: 16px 20px;
  white-space: nowrap;
  display: -webkit-flex;
  display: flex;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
.inboxsdk__drawer_title_bar .inboxsdk__close_button {
  margin-right: 20px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.inboxsdk__drawer_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: normal normal normal normal 20px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* backdrop */

.inboxsdk__inbox_backdrop {
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: transparent;
  transition: background-color 150ms cubic-bezier(0.4, 0, 1, 1);
}
.inboxsdk__inbox_backdrop.inboxsdk__active {
  background-color: rgba(10,10,10,.6);
  transition: background-color 70ms cubic-bezier(0,0,.2,1);
}

.inboxsdk__inbox_backdrop ~ .inboxsdk__inbox_backdrop {
  opacity: 0.6;
}

/* sidebar */

.IDMAP_app_sidebar_main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.IDMAP_app_sidebar > .inboxsdk__close_button {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.IDMAP_app_sidebar_content_area {
  width: 216px;
}

.IDMAP_app_sidebar_content_panel {
  overflow: hidden;
  font: 12px Arial, sans-serif;
  max-height: 100%;
  box-sizing: border-box;
}

.IDMAP_app_sidebar_content_panel_top_line {
  white-space: nowrap;
  display: -webkit-flex;
  display: flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.IDMAP_app_sidebar_content_panel.IDMAP_showControls .IDMAP_app_sidebar_content_panel_top_line:hover,
.IDMAP_app_sidebar_content_panel.IDMAP_dragged .IDMAP_app_sidebar_content_panel_top_line {
  background: rgba(0,0,0,.03);
}

.IDMAP_app_sidebar_content_panel_title {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.IDMAP_app_sidebar_content_panel.IDMAP_showControls .IDMAP_app_sidebar_content_panel_title {
  cursor: move;
}

.IDMAP_app_sidebar_content_panel_title_text {
  padding-left: 20px;
  vertical-align: middle;
  font: 13px / 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #303030;
}

.IDMAP_app_sidebar.IDMAP_hideTitleBar .IDMAP_app_sidebar_content_panel_top_line {
  display: none;
}

.IDMAP_app_sidebar_content_panel_title_icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  box-sizing: border-box;
  background-size: contain;
}

.IDMAP_app_sidebar_content_panel_title_icon,
.IDMAP_app_sidebar_content_panel_title_icon > img {
  width: 20px;
  height: 20px;
}

.IDMAP_app_sidebar_content_panel_toggle {
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
  visibility: hidden;
}

.IDMAP_app_sidebar_content_panel.IDMAP_showControls .IDMAP_app_sidebar_content_panel_toggle {
  visibility: visible;
  cursor: pointer;
}

.IDMAP_app_sidebar_content_panel_toggle_button {
  margin-top: 12px;
  margin-right: 4px;
  background: url(https://www.streak.com/build/images/chevron.png) center / contain no-repeat;
  border: none;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: -webkit-transform .15s, transform .15s;
  outline: none;
  opacity: .8;
  cursor: pointer;
}

.IDMAP_expanded .IDMAP_app_sidebar_content_panel_toggle_button {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.IDMAP_app_sidebar_content_panel_content {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

/* end sidebar */
