{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-export-default-from"
  ],
  "overrides": [
    {
      "test": ["**/*.ts", "**/*.tsx"],
      "presets": [
        "@babel/preset-typescript"
      ]
    },
    {
      "test": ["**/*.js"],
      "presets": [
        "@babel/preset-flow"
      ],
      "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator"
      ]
    }
  ]
}
