{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ]
  ],
  "overrides": [
    {
      "test": ["**/*.ts", "**/*.tsx"],
      "presets": ["@babel/preset-typescript"]
    },
    {
      "test": ["**/*.js"],
      "presets": ["@babel/preset-flow"],
      "plugins": []
    }
  ]
}
