.DS_Store
/node_modules
/dist
/coverage
/examples/*/dist/
/examples/*/pageWorld.js*
/examples/*/background.js*
/examples/*/firefox.js*
/examples/*/platform-implementation.js*
*~
npm-debug.log
yarn-debug.log
.atom-build.json
/chromeTestOutput
/.inboxsdk_test_secret
yarn-error.log
/packages/core/inboxsdk.js*
/packages/core/firefox.js*
/packages/core/inboxsdk.min.js
/packages/core/pageWorld.js*
/packages/core/platform-implementation.js*
/packages/core/src/

# Yarn without zero installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
