/dist
examples/*/*
!**/examples/*/manifest.json
!**/examples/*/content.js
!**/examples/*/content.ts
/test/data/**/*.html
/__tests__/**/*.html
*.snap
/packages/core/inboxsdk.js*
/packages/core/inboxsdk.min.js
/packages/core/pageWorld.js*
/packages/core/platform-implementation.js*
/packages/core/src
.pnp.*
.yarn/*
