.special_style {
  border: 1px solid blue;
}

.cssbutton {
  mask-image: url(https://www.streak.com/build/images/pixelTrackerIcon.png);
  mask-size: 20px;
  mask-repeat: no-repeat;
  width: 26px !important;
  background-color: rgb(253 148 39);
}

.cssbutton.afterclick {
  background-color: black;
}
