.inboxsdk__notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.inboxsdk__appButton_container {
  position: absolute;
  right: 192px;
  top: 16px;
  white-space: nowrap;
}

.inboxsdk__appButton {
  position: relative;
  line-height: 0;
  margin-right: 16px;
  display: inline-block;
}

.inboxsdk__appButton .inboxsdk__button_iconImg {
  width: 24px;
  height: 24px;
}

.inboxsdk__appButton.inboxsdk__button_icon.inboxsdk__active,
.inboxsdk__appButton.inboxsdk__button_icon:focus {
  outline: none;
}
.inboxsdk__appButton.inboxsdk__button_icon::before {
  content: ' ';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  margin: auto;
  padding: 4px;
  border-radius: 50%;
}
.inboxsdk__appButton.inboxsdk__button_icon.inboxsdk__active::before,
.inboxsdk__appButton.inboxsdk__button_icon:focus::before {
  background-color: rgba(0,0,0,0.1);
}

.inboxsdk__appButton_tooltip {
  position: fixed;
  z-index: 22;
  outline: none;
  max-width: 500px;
  white-space: initial;
  text-align: center;
  font: normal normal normal normal 16px / normal arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}

.inboxsdk__compose_actionToolbar {
  display: inline-block;
}

.inboxsdk__button_icon {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.inboxsdk__button_iconImg {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  margin: 8px 12px 4px 2px;
  vertical-align: middle;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon.inboxsdk__active,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:hover,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:focus {
  opacity: 1;
  outline: none;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon::before {
  content: ' ';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  margin: auto;
  padding: 4px;
  border-radius: 50%;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon.inboxsdk__active::before,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:focus::before {
  background-color: rgba(0,0,0,0.1);
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_iconImg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.inboxsdk__dropdown {
  padding-bottom: 5px;
  overflow: visible;
  z-index: 100;
  outline: none;
}
.inboxsdk__dropdown_content {
  background: white;
  min-width: 1em;
  min-height: 1em;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}

.inboxsdk__tooltip {
  z-index: 1300;
  position: fixed;
  /*transition: left 200ms ease, top 200ms ease;*/
  background: white;
  min-width: 1em;
  min-height: 1em;
  padding: 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}

.inboxsdk__tooltip_arrow {
  z-index: 1301;
  position: fixed;
  width: 0;
  height: 0;
  border: none;
  border-color: white; /* You can override this to change the tooltip's color! */
}
.inboxsdk__tooltip_arrow::before {
  content: ' ';
  position: absolute;
  border: 8px solid;
}
.inboxsdk__tooltip_arrow::after {
  content: ' ';
  position: absolute;
  border: 7px solid;
  border-color: transparent;
}
.inboxsdk__tooltip_arrow.inboxsdk__top::before {
  border-bottom-width: 0;
  border-color: rgba(0,0,0,0.2) transparent;
  left: -9px;
}
.inboxsdk__tooltip_arrow.inboxsdk__top::after {
  border-bottom-width: 0;
  border-top-color: inherit;
  border-bottom-color: inherit;
  left: -8px;
}
.inboxsdk__tooltip_arrow.inboxsdk__bottom::before {
  border-top-width: 0;
  border-color: rgba(0,0,0,0.2) transparent;
  top: -8px;
  left: -9px;
}
.inboxsdk__tooltip_arrow.inboxsdk__bottom::after {
  border-top-width: 0;
  border-top-color: inherit;
  border-bottom-color: inherit;
  top: -7px;
  left: -8px;
}
.inboxsdk__tooltip_arrow.inboxsdk__left {
}
.inboxsdk__tooltip_arrow.inboxsdk__left::before {
  border-right-width: 0;
  border-color: transparent rgba(0,0,0,0.2);
  top: -8px;
}
.inboxsdk__tooltip_arrow.inboxsdk__left::after {
  border-right-width: 0;
  border-left-color: inherit;
  border-right-color: inherit;
  top: -7px;
}
.inboxsdk__tooltip_arrow.inboxsdk__right {
}
.inboxsdk__tooltip_arrow.inboxsdk__right::before {
  border-left-width: 0;
  border-color: transparent rgba(0,0,0,0.2);
  top: -8px;
  left: -8px;
}
.inboxsdk__tooltip_arrow.inboxsdk__right::after {
  border-left-width: 0;
  border-left-color: inherit;
  border-right-color: inherit;
  top: -7px;
  left: -7px;
}

.inboxsdk__tooltip_img {
  max-width: 500px;
  max-height: 300px;
}

/* modal */
.inboxsdk__modal_overlay {
  opacity: .75;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}
.inboxsdk__modal_fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 501;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 110px 50px 50px 50px;
}
.inboxsdk__modal_container {
  position: relative;
  background: #fff;
  color: #000;
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  padding: 30px 42px;
}
.inboxsdk__modal_toprow [role=heading] {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px;
  font: bold 1em arial,sans-serif;
  padding-right: 20px;
}
.inboxsdk__modal_close {
  height: 11px;
  opacity: .7;
  padding: 17px;
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
}
.inboxsdk__modal_close::after {
  content: ' ';
  background: url(//ssl.gstatic.com/ui/v1/dialog/close-x.png);
  position: absolute;
  height: 11px;
  width: 11px;
  right: 17px;
}
.inboxsdk__modal_content {
  margin: 30px 0;
  line-height: 1.4em;
  word-wrap: break-word;
  font: normal 0.8em arial,sans-serif;
}
.inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_container {
  padding: 0px;
}
.inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_close {
  display: none;
}
.inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_content {
  margin: 0px;
}
.inboxsdk__modal_buttons input {
  margin-right: 5px;
}
.inboxsdk__modal_buttons input.inboxsdk__primary {
  margin-right: 7px;
}
