.inboxsdk__compose_actionToolbar {
  display: inline-block;
}

.inboxsdk__button_icon {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  margin: 8px 2px 4px;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon.inboxsdk__active,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:hover,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:focus {
  opacity: 1;
  outline: none;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon::before {
  content: ' ';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  margin: auto;
  padding: 4px;
  border-radius: 50%;
}
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon.inboxsdk__active::before,
.inboxsdk__compose_actionToolbar .inboxsdk__button_icon:focus::before {
  background-color: rgba(0,0,0,0.1);
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_iconImg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.inboxsdk__dropdown {
  padding-bottom: 5px;
  overflow: visible;
  z-index: 100;
  outline: none;
}
.inboxsdk__dropdown_content {
  background: white;
  min-width: 1em;
  min-height: 1em;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}
