.gmailsdk__compose_actionToolbar {
  padding: 0px 0px 0px 10px;
  white-space: nowrap;
}

.gmailsdk__compose_actionToolbar .gmailsdk__button {
  min-width: 27px;
  margin-right: 5px;
  height: 29px;
}

.gmailsdk__compose_actionToolbar .gmailsdk__button_iconImg {
	height: 19px;
	width: 19px;
	vertical-align: middle;
}

.gmailsdk__compose_actionToolbar .gmailsdk__compose_overflowButton.gmailsdk__button {
  margin: 0 0 0 4px;
  height: 27px;
}

.gmailsdk__compose_overflowIcon {
  background: url('images/composeOverflowToggle.png') center no-repeat;
  opacity: 0.9;
  padding-top: 3px;
}


/* Work around issue where clicking "Remove formatting" in Compose causes this
 * element to become taller and shift the toolbar down. */
.gU .aWQ {
  max-height: 3px;
}

.gmailsdk__compose_toolbarOverflow {
  position: absolute;
  bottom: 5px;
  background: #f5f5f5;
  margin: 3px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
  border: 1px solid #cfcfcf;
  padding: 2px !important;
  z-index: 10;
}

.gmailsdk__compose_toolbarOverflow::before {
  content: " ";
  position: absolute;
  background: url('https://ssl.gstatic.com/ui/v1/icons/mail/down_pointer.png') no-repeat;
  width: 17px;
  height: 18px;
  bottom: -16px;
  left: 114px;
}

.aQw .gmailsdk__button_iconImg {
  margin-top: 2px;
}

.aZi .asa .gmailsdk__button_iconImg {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}
