/* buttons */

div.T-I.inboxsdk__button {
  -webkit-user-select: none;
  min-width: 27px;
}

.inboxsdk__button.inboxsdk__button_disabled {
  opacity: 0.55;
}

  .inboxsdk__button_icon + .inboxsdk__button_text {
    margin-left: 5px;
  }

.inboxsdk__button_icon {
  display: inline-block;
}

.inboxsdk__button_iconImg {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-top: -2px;
}

.inboxsdk__button_green_inactive {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  background-color: #53a93f;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid transparent;
  color: #fff;
  text-shadow: none;
}

.inboxsdk__button_green_hover {
  -webkit-box-shadow: inset 0 -1px 0 #4c8534;
  box-shadow: inset 0 -1px 0 #4c8534;
  background-color: #65b045;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid transparent;
  border-bottom: 1px solid #4c8534;
  text-shadow: none;
}

.inboxsdk__button_green_active {
  -webkit-box-shadow: inset 0 1px 0 #2f6124;
  box-shadow: inset 0 1px 0 #2f6124;
  background: #3e802f;
  border: 1px solid transparent;
  border-top: 1px solid #2f6124;
  color: #fff;
  text-shadow: none;
}

.J-M.inboxsdk__menu {
  padding: 0px;
  overflow: visible;
}

/* end */

/* compose buttons */

.T-I.inboxsdk__button.inboxsdk__compose_sendButton {
  min-width: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding:0px;
}

.inboxsdk__compose_actionToolbar {
  padding: 0px 0px 0px 5px;
  white-space: nowrap;
}

.inboxsdk__compose_actionToolbar .inboxsdk__button {
  min-width: 27px;
  height: 29px;
}

.inboxsdk__compose_actionToolbar .inboxsdk__button_iconImg {
  margin-top: 0px;
}

.inboxsdk__compose_actionToolbar .inboxsdk__button > div {
    opacity: 0.55;
}


  .inboxsdk__compose_actionToolbar .inboxsdk__button.inboxsdk__button_hover > div, .inboxsdk__compose_actionToolbar .inboxsdk__button:focus > div {
    opacity: 1
  }


.inboxsdk__compose_groupedActionToolbar {
  position: absolute;
  bottom: 44px;
  background: #f5f5f5;
  margin: 3px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
  border: 1px solid #cfcfcf;
  padding: 1px !important;
  z-index: 10;
  left: 0px;
}

.inboxsdk__compose_groupedActionButton .inboxsdk__button_iconImg {
  margin-top: 4px;
}

.inboxsdk__compose_groupedActionToolbar_arrow {
  position: absolute;
  background: url('https://ssl.gstatic.com/ui/v1/icons/mail/down_pointer.png') no-repeat;
  width: 17px;
  height: 18px;
  bottom: -16px;
  margin-left: 4px;
}

.inboxsdk__compose_groupedActionToolbar_visible .aDh {
  overflow-y: visible;
  overflow-x: hidden;
}

/* end */


/* Work around issue where clicking "Remove formatting" in Compose causes this
 * element to become taller and shift the toolbar down. */
.gU .aWQ {
  max-height: 3px;
}

.aQw .inboxsdk__button_iconImg {
  margin-top: 2px;
}

.aZi .asa .inboxsdk__button_iconImg {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}


.inboxsdk__compose_outerSidebar_wrapper {
  position: absolute;
  left: -401px;
  top: 0px;
  background: white;
  width: 400px;
  bottom: 0px;
  border-left: 1px solid silver;
  box-shadow: -2px 0px 1px #E6E6E6;
  display: block;
}

.inboxsdk__outerSidebarActive .aSt .inboxsdk__compose_outerSidebar_wrapper {
  border-left: 0;
  box-shadow: none;
  left: -400px;
}

.inboxsdk__outerSidebarActive .aSs > div { width: 50% !important; margin-left: 30%; }

.inboxsdk__compose_outerSidebar_header {
  background: #404040;
  font-size: 80%;
  padding: 10px 10px 11px 10px;
  color: white;
  border-bottom: 1px solid #C4C4C4;
}

.inboxsdk__compose_outerSidebar_body {
  position: absolute;
  width: 100%;
  bottom: 43px;
  top: 36px;
  left: -1px;
  overflow: auto;
}

.inboxsdk__compose_outerSidebar_footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(206, 206, 206);
  display: block;
}

.inboxsdk__compose_innerSidebarActive form, .inboxsdk__compose_innerSidebarActive .GQ {
  padding-right: 200px;
}


/* toolbar visibility */

[data-thread-toolbar=true] [data-rowlist-toolbar=true] {
  display: none;
}

[data-toolbar-expanded=true] [data-toolbar-expanded=false] {
  display: none;
}

[data-toolbar-expanded=false] [data-toolbar-expanded=true] {
  display: none;
}

/* end */

/* modal */

.inboxsdk__modal_overlay {
  right: 0px;
  bottom: 0px;
}

.inboxsdk__modal_fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 501;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding: 110px 50px 50px 50px;
}

.inboxsdk__modal_content {
    margin-top: 30px; margin-bottom: 30px;
}

.inboxsdk__modal_fullscreen .inboxsdk__modal_container {
  position: relative;
  margin-top: -60px;
  width: auto;
  overflow: hidden;
}

  .inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_container {
    padding: 0px;
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_close {
    display: none;
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .inboxsdk__modal_content {
    margin: 0px;
  }

  .inboxsdk__modal_fullscreen.inboxsdk__modal_chromeless .Kj-JD-K7 {
    margin: 0px;
  }

/* end modal */


/* tabs */

.inboxsdk__tab {
  width: 30px;
}

.inboxsdk__tab.inboxsdk__tab_selected {
  width: auto;
}

table.aKk .inboxsdk__contentTabContainer .inboxsdk__tab .aAy[role=tab] {
  height: 28px;
}

  .aKp.inboxsdk__tab_icon {
    background-image: none;
    width: 30px;
    height: 25px;
  }

    .inboxsdk__tab_icon img {
      height: 16px;
      width: 16px;
      margin-left: 5px;
      margin-top: 3px;
    }

.inboxsdk__tab .aKx {
  top: 4px;
}

.inboxsdk__sidebar [role=complementary] {
  position: static !important;
}

/* end tabs */

/* sidebar */

.inboxsdk__contentPanelContainer_tabContainer > table {

}

.inboxsdk__contentPanelContainer_contentContainer {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D8D8D8;
  margin-right: 10px;
  margin-top: 15px;
}


/* end sidebar */
