.send_modifier_icon {
  -webkit-mask: url(https://www.streak.com/build/images/sendLaterMask.png) no-repeat;
  -webkit-mask-size: 18px 18px;
  background: white;
  display: inline-block;
  height: 18px;
  width: 18px;
}
