.title {
  color: rgb(0 0 0 / 54%) !important;
}

.subtitle {
  margin: 0;
  color: rgb(0 0 0 / 87%) !important;
}

:global(.inboxsdk__gmail_dark_theme) .title {
  color: rgb(255 255 255 / 70%) !important;
}

:global(.inboxsdk__gmail_dark_theme) .subtitle {
  color: rgb(255 255 255) !important;
}
